:host {
  display: block;
  height: 100%;
  width: 100%;

  .practice {
    &__header {
      height: 80px;
      border-radius: 10px;
    }
    &__action-buttons {
      &__button {
        border-radius: 10px;
        background: var(--light-gray-text);

        width: 40px;
        height: 40px;
      }
    }

    &__description {
      ::ng-deep {
        .ql-editor {
          padding: 0;
        }
      }
    }

    &__separator {
      background: var(--light-gray-text);
      height: 1px;
    }

    &__example {
      border-radius: 10px;
      padding: 15px;

      p {
        width: 100%;
        margin: 0;

        text-align: left;
        font-family: "Courier New", monospace;
      }
    }

    &__code {
      border-radius: 10px;
      padding: 15px;

      .ant-form-item {
        margin: 0;
      }

      ::ng-deep textarea {
        width: 100%;
        margin: 0;

        text-align: left;
        font-family: "Courier New", monospace;
      }
    }
  }
}
