:host {
  --title-height: 4rem;
  --image-height: 100px;
  width: 100%;

  .course {
    height: calc(var(--title-height) + var(--image-height));
    border-radius: 10px;
    background-size: cover;
    position: relative;

    .background {
      height: var(--image-height);
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    .title {
      text-align: center;
      height: var(--title-height);
      background: var(--light-gray-bg);
      border-radius: 0 0 10px 10px;
      padding: 0 5px;
      line-height: 2rem;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .delete {
      position: absolute;
      top: 10px;
      left: 10px;
      color: var(--red-color);
    }
  }
}
