:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .regular-button {
    color: var(--black-text);
    background: var(--gray-bg);
    padding: 16px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: 0.33s;

    &:hover {
      background: var(--light-gray-bg);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
