<section class="flex row center">
  <div class="max-h max-w flex column start align-l">
    <h1 class="title max-w">Мои курсы</h1>

    <div class="plus-button max-w">
      <app-island
        class="clickable"
        *ngIf="isTeacher"
        [routerLink]="EFullRoutes.COURSE_CREATE"
      >
        <svg-icon src="assets/icons/plusIcon.svg" />
      </app-island>

      <app-island *ngIf="!isTeacher">
        <svg-icon src="assets/icons/search.svg" />
      </app-island>
    </div>

    <nz-spin class="spinner" [nzSpinning]="isLoading$ | async">
      <div class="courses-layout max-h max-w flex row start align-c wrap">
        <app-courses-page-item
          *ngFor="let course of courses$ | async"
          [course]="course"
          (courseClick)="openCourse(course.id)"
        ></app-courses-page-item>
      </div>
    </nz-spin>
  </div>
</section>
