<app-island
  [routerLink]="EFullRoutes.COURSE_ITEM(course.id)"
  (click)="onCourseClick()"
>
  <div class="course-item flex column start gapless">
    <img class="course-item__image" [src]="course.imageUrl" alt="" />
    <span class="weight-700">{{ course.name }}</span>
    <div class="course-item__island__wrapper">
      <div
        class="course-item__island flex column gapless"
        *ngIf="isCourseSelected"
      >
        <div
          class="course-item__island__practice flex row"
          *ngFor="let practice of course.practices"
          [ngClass]="{ selected: practiceSelected === practice.id }"
          (click)="onPracticeClick(practice.id)"
        >
          <app-status-circle [status]="practice.status"></app-status-circle>
          <span class="weight-600"> {{ practice.name }}</span>
        </div>
      </div>
    </div>
  </div>
</app-island>
