.main {
  height: 100vh;
  background: var(--white-bg);

  .scrollable {
    height: 100%;
    overflow-y: scroll;
    padding-top: 14px;

    .body {
      height: fit-content;

      .page-layout {
        width: 70%;
      }
    }
  }
}
