.very-light-gray {
  background: var(--very-light-gray-bg);
}

.light-gray {
  background: var(--light-gray-bg);
}

.gray {
  background: var(--gray-bg);
}

.medium-gray {
  background: var(--medium-gray-bg);
}
