:root {
  // sizes
  --main-content-container-size: 70%;
  --gaps: 14px;
  --paddings-s: 6px;
  --paddings-m: 10px;
  --paddings-l: 14px;

  // colors
  --white-bg: #f5f5f5;
  --light-gray-bg: #e8e8e8;
  --gray-bg: #c1c1c1;
  --black-bg: #000;
  --blue-bg: #2b8cff;
  --active-bg: #ff9f21;

  --white-text: #f5f5f5;
  --light-gray-text: #e8e8e8;
  --gray-text: #c1c1c1;
  --black-text: #000;
  --blue-text: #2b8cff;
  --active-text: #ff9f21;

  --red-color: #dc2b2b;
}
