:root {
  // sizes
  --main-content-container-size: 70%;
  --gaps: 14px;
  --paddings-s: 6px;
  --paddings-m: 10px;
  --paddings-l: 14px;

  // colors
  --white-bg: #f5f5f5;
  --light-gray-bg: #e8e8e8;
  --black-bg: #000;

  --white-text: #f5f5f5;
  --light-gray-text: #e8e8e8;
  --black-text: #000;
}
