:root {
  // sizes
  --main-content-container-size: 70%;
  --gaps: 14px;
  --paddings-s: 6px;
  --paddings-m: 10px;
  --paddings-l: 14px;

  // colors
  --white-bg: #f5f5f5;
  --very-light-gray-bg: #e8e8e8;
  --light-gray-bg: #d9d9d9;
  --gray-bg: #cbcbcb;
  --medium-gray-bg: #bbbbbb;
  --black-bg: #000;
  --blue-bg: #2b8cff;
  --active-bg: #ff9f21;

  --white-text: #f5f5f5;
  --very-light-gray-text: #e8e8e8;
  --light-gray-text: #d9d9d9;
  --gray-text: #cbcbcb;
  --medium-gray-text: #bbbbbb;
  --black-text: #000;
  --blue-text: #2b8cff;
  --active-text: #ff9f21;

  // Нужно именно в таком виде
  --green-color: 39, 203, 75;
  --red-color: 220, 43, 43;
  --orange-color: 255, 138, 30;
  --yellow-color: 241, 198, 46;
  --empty-color: 139, 139, 139;
}
