:host {
  width: 100%;

  .md-buttons {
    margin-bottom: 10px;

    &__button {
      border: none;
      outline: none;

      background: var(--light-gray-bg);

      padding: 5px 10px;

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &.selected {
        background: var(--gray-bg);
      }
    }
  }

  .preview-container {
    padding: 10px;

    border-radius: 10px;

    background: var(--white-bg);
  }

  quill-editor {
    background: var(--white-bg);
    border-radius: 10px;
    border: 1px solid var(--light-gray-bg);

    ::ng-deep {
      .ql-container.ql-snow {
        border: none;
        border-top: 1px solid var(--very-light-gray-bg);

        .ql-editor {
          word-break: break-all;
        }
      }

      .ql-toolbar {
        border: none;
      }
    }
  }
}
