<section class="participations-page flex column center">
  <nz-spin class="spinner" [nzSpinning]="isLoading$ | async">
    <ng-container *ngIf="participations$ | async as participations">
      <app-island
        *ngIf="participations.length; else noParticipations"
        [padding]="10"
      >
        <h1 class="text-center max-w">
          {{ EParticipationFilterDescription[participationStatus] }}
        </h1>

        <div class="participations-page__list flex column gapless">
          <ng-container *ngFor="let participation of participations">
            <div class="participations-page__participation flex row space">
              <span class="participations-page__participation__text">
                {{ participation.displayName }}
              </span>

              <div class="participations-page__participation__buttons flex row">
                <svg-icon
                  *ngIf="
                    participationStatus === EParticipationFilterStatuses.REQUEST
                  "
                  class="participations-page__participation__buttons__icon clickable"
                  src="assets/icons/plus.svg"
                  (click)="acceptParticipation(participation.userId)"
                ></svg-icon>

                <svg-icon
                  class="participations-page__participation__buttons__icon clickable"
                  src="assets/icons/trash.svg"
                  (click)="declineParticipation(participation.userId)"
                ></svg-icon>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!participations.length">
            <p class="participations-page__message">
              По вашему запросу ничего не найдено
            </p>
          </ng-container>
        </div>

        <app-pagination
          [size$]="size$"
          [count$]="count$"
          (pageChanged)="loadPage($event)"
        ></app-pagination>
      </app-island>
    </ng-container>
  </nz-spin>
</section>

<ng-template #noParticipations>
  <p class="participations-page__message">
    <em>Заявок больше нет</em>
  </p>
</ng-template>
