<nz-spin class="spinner" [nzSpinning]="isLoading$ | async">
  <section class="flex column center">
    <app-back-button [backPath]="EFullRoutes.COURSES"></app-back-button>

    <div
      class="course__wrapper max-h max-w flex column start align-r"
      *ngIf="course"
    >
      <app-course-header [course]="course"></app-course-header>
      <div class="practices max-h max-w flex row start align-c wrap">
        <div
          *appRequiredRole="ERoles.TEACHER"
          class="practices__add-button max-h max-w flex center clickable"
          [routerLink]="EFullRoutes.PRACTICE_CREATE(course.id)"
        >
          <svg-icon src="assets/icons/plus.svg" />
        </div>

        <div
          class="course__action-buttons flex row align-c end"
          *appRequiredRole="ERoles.TEACHER"
        >
          <svg-icon
            class="course__action-buttons__button clickable shadow"
            src="assets/icons/users.svg"
            nz-tooltip="Студенты на курсе"
            (click)="checkParticipations()"
          />

          <svg-icon
            class="course__action-buttons__button clickable shadow"
            src="assets/icons/add-users.svg"
            nz-tooltip="Заявки на курс"
            (click)="checkRequests()"
          />

          <svg-icon
            class="course__action-buttons__button clickable shadow"
            nz-tooltip="Редактировать курс"
            src="assets/icons/edit.svg"
            (click)="editCourse()"
          />

          <svg-icon
            class="course__action-buttons__button clickable shadow"
            src="assets/icons/trash.svg"
            nz-tooltip="Удалить курс"
            (click)="deleteCourse()"
          />
        </div>

        <ng-container *ngFor="let practice of practices$ | async">
          <app-course-practice-item
            [courseId]="course.id"
            [practice]="practice"
          ></app-course-practice-item>
        </ng-container>
      </div>

      <app-pagination
        [size$]="size$"
        [count$]="count$"
        (pageChanged)="loadPage($event)"
      ></app-pagination>
    </div>
  </section>
</nz-spin>
