:host {
  display: block;
  height: 100%;
  width: 100%;

  .course {
    &__wrapper {
      position: relative;
    }

    &__edit-button {
      position: absolute;
      top: 14px;
      right: 14px;

      svg {
        width: 20px;
        height: 20px;

        filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.2));
      }

      color: var(--gray-text);
    }
  }

  .practices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__add-button {
      height: 90px;
      background: var(--light-gray-bg);
      border-radius: 10px;
    }
  }
}
