<section class="flex row center">
  <div
    class="course__wrapper max-h max-w flex column start align-l"
    *ngIf="course$ | async as course"
  >
    <app-course-header [course]="course"></app-course-header>
    <div class="practices max-h max-w flex row start align-c wrap">
      <div
        *appRequiredRole="ERoles.TEACHER"
        class="practices__add-button max-h max-w flex center clickable"
        [routerLink]="EFullRoutes.PRACTICE_CREATE(course.id)"
      >
        <svg-icon src="assets/icons/plusIcon.svg" />
      </div>

      <svg-icon
        class="course__edit-button clickable"
        src="assets/icons/edit.svg"
        (click)="editCourse()"
      />

      <ng-container *ngFor="let practice of course.practices">
        <app-course-practice-item
          [courseId]="course.id"
          [practice]="practice"
        ></app-course-practice-item>
      </ng-container>
    </div>
  </div>
</section>
