:host {
  display: block;
  height: 100%;
  width: 100%;

  .course {
    &__wrapper {
      position: relative;
    }

    &__action-buttons {
      position: absolute;
      height: min-content;
      top: 14px;
      right: 14px;

      &__button {
      }
    }
  }

  .practices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__add-button {
      height: 90px;
      background: var(--light-gray-bg);
      border-radius: 10px;

      transition: 0.33s;

      &:hover {
        background: var(--very-light-gray-bg);
      }
    }
  }
}
