<nz-spin class="spinner" [nzSpinning]="isLoading$ | async">
  <section class="flex row center">
    <div
      class="course__wrapper max-h max-w flex column start align-l"
      *ngIf="course$ | async as course"
    >
      <app-course-header [course]="course"></app-course-header>
      <div class="practices max-h max-w flex row start align-c wrap">
        <div
          *appRequiredRole="ERoles.TEACHER"
          class="practices__add-button max-h max-w flex center clickable"
          [routerLink]="EFullRoutes.PRACTICE_CREATE(course.id)"
        >
          <svg-icon src="assets/icons/plus.svg" />
        </div>

        <div
          class="course__action-buttons flex row align-c end"
          *appRequiredRole="ERoles.TEACHER"
        >
          <svg-icon
            class="course__action-buttons__button clickable shadow"
            src="assets/icons/add-users.svg"
            (click)="checkParticipations()"
          />

          <svg-icon
            class="course__action-buttons__button clickable shadow"
            src="assets/icons/edit.svg"
            (click)="editCourse()"
          />

          <svg-icon
            src="assets/icons/trash.svg"
            class="course__action-buttons__button clickable shadow"
            (click)="deleteCourse()"
          />
        </div>

        <ng-container *ngFor="let practice of practices$ | async">
          <app-course-practice-item
            [courseId]="course.id"
            [practice]="practice"
          ></app-course-practice-item>
        </ng-container>
      </div>
    </div>
  </section>
</nz-spin>
