:host {
  display: block;
  height: 100%;
  width: 100%;

  .practices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__add-button {
      height: 90px;
      background: var(--light-gray-bg);
      border-radius: 10px;
    }
  }
}
