<nz-spin class="spinner" [nzSpinning]="isLoading$ | async">
  <section class="flex column center">
    <app-back-button [backPath]="backPath"></app-back-button>

    <app-form-container
      [title]="isEdit ? 'Редактирование курса' : 'Создание нового курса'"
    >
      <app-text-input
        label="Название курса"
        placeholder="Введите название"
        [control]="createCourseForm.controls.name"
      ></app-text-input>

      <app-textarea-input
        label="Описание курса"
        placeholder="Введите описание"
        [control]="createCourseForm.controls.description"
      ></app-textarea-input>

      <app-image-input
        label="Обложка курса"
        tooltip="Изображение в форматах jpg, jpeg, png"
        [control]="createCourseForm.controls.imageId"
      >
        <div
          class="create-course__image-upload-button max-w flex center align-c"
        >
          <svg-icon src="assets/icons/plus.svg" />
        </div>
      </app-image-input>

      <div class="flex row end">
        <app-form-button
          *ngIf="!isEdit"
          class="create-course__create-button"
          [formToWatch]="createCourseForm"
          (click)="createCourse()"
        >
          Добавить курс
        </app-form-button>

        <app-form-button
          *ngIf="isEdit"
          class="create-course__create-button"
          [formToWatch]="createCourseForm"
          (click)="updateCourse()"
        >
          Сохранить курс
        </app-form-button>
      </div>
    </app-form-container>
  </section>
</nz-spin>
