:host {
  display: block;
  height: 100%;
  width: 100%;

  .create-course {
    &__image-upload-button {
      background: var(--gray-bg);
    }

    &__create-button {
      width: 200px;
    }
  }
}
