<section class="main-section max-h flex column center align-center">
  <app-logo></app-logo>
  <div class="form-sizer">
    <app-form-container [title]="'Вход'">
      <app-text-input
        label="Логин"
        [control]="controls.login"
        [placeholder]="'Введите логин'"
      ></app-text-input>

      <app-password-input
        label="Пароль"
        [control]="controls.password"
        [placeholder]="'Введите пароль'"
      ></app-password-input>

      <div class="flex row space max-w">
        <app-router-link class="marginfull" [link]="EFullRoutes.REGISTRATION">
          Еще не зарегистрированы?
        </app-router-link>
        <app-form-button
          [formToWatch]="loginFormGroup"
          (click)="onLoginClick()"
        >
          Войти
        </app-form-button>
      </div>
    </app-form-container>
  </div>
</section>
