<section class="main-section max-h flex column center align-center">
  <app-logo></app-logo>
  <form class="form-sizer">
    <app-form-container [title]="'Вход'">
      <as-label-wrapper [control]="controls.login" [title]="'Логин'">
        <as-text-input
          [control]="controls.login"
          [placeholder]="'Введите логин'"
        ></as-text-input>
      </as-label-wrapper>

      <as-label-wrapper [control]="controls.password" [title]="'Пароль'">
        <as-password-input
          [control]="controls.password"
          [placeholder]="'Введите пароль'"
        ></as-password-input>
      </as-label-wrapper>

      <div class="flex row space max-w">
        <app-router-link class="marginfull" [link]="EFullRoutes.REGISTRATION"
          >Еще не зарегистрированы?</app-router-link
        >
        <app-form-button [formToWatch]="loginFormGroup" (click)="onLoginClick()"
          >Войти</app-form-button
        >
      </div>
    </app-form-container>
  </form>
</section>
