// основной шрифт
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  // sizes
  --main-content-container-size: 70%;
  --gaps: 14px;
  --paddings-s: 6px;
  --paddings-m: 10px;
  --paddings-l: 14px;

  // colors
  --light-gray-color: #e8e8e8;

  --white-bg: #f5f5f5;
  --black-bg: #000;

  --white-text: #f5f5f5;
  --black-text: #000;
}

body {
  p,
  span,
  div {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
}

.flex {
  display: flex;
  gap: var(--gaps);
  align-items: center;

  &.row {
    flex-direction: row;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
  }

  &.space {
    justify-content: space-between;
  }

  &.gapless {
    gap: 0;
  }

  &.paddings {
    &-s {
      padding: var(--paddings-s);
    }
    &-m {
      padding: var(--paddings-m);
    }
    &-l {
      padding: var(--paddings-l);
    }
  }

  &.align {
    &-l {
      align-items: flex-start;
    }
    &-r {
      align-items: flex-end;
    }
  }
}

.weight {
  &-200 {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
}

.size {
  &-s {
    font-size: 0.8rem;
  }
  &-m {
    font-size: 1em;
  }
  &-l {
    font-size: 1.2rem;
  }
  &-ts {
    font-size: 1rem;
  }
  &-tm {
    font-size: 1.2rem;
  }
  &-tl {
    font-size: 1.4rem;
  }
}

.paddingless {
  padding: 0;
}

.marginless {
  margin: 0;
}
