<section class="main-section max-h flex column center align-center">
  <div class="form-sizer flex align-c">
    <app-form-container [title]="'Регистрация'">
      <app-text-input
        label="Логин"
        [control]="controls.login"
        [placeholder]="'Введите логин'"
      ></app-text-input>

      <div class="fields-group flex row space">
        <app-text-input
          label="Имя"
          [control]="controls.name"
          [placeholder]="'Введите ваше имя'"
        ></app-text-input>

        <app-text-input
          label="Фамилия"
          [control]="controls.surname"
          [placeholder]="'Введите ваше фамилия'"
        ></app-text-input>
      </div>

      <app-text-input
        label="Почта"
        [control]="controls.email"
        [placeholder]="'Введите почту'"
      ></app-text-input>

      <div class="fields-group flex row space">
        <app-password-input
          label="Пароль"
          [control]="controls.password"
          [placeholder]="'Введите пароль'"
        ></app-password-input>

        <app-password-input
          label="Подтверждение пароля"
          [control]="controls.passwordConfirm"
          [placeholder]="'Повторите пароль'"
        ></app-password-input>
      </div>

      <app-checkbox-input
        label="Я преподаватель"
        tooltip="В случае регистрации как преподаватель, вашу заявку должен будет одобрить модератор"
        [control]="controls.isTeacher"
      ></app-checkbox-input>

      <div class="flex row space max-w">
        <app-router-link class="marginfull" [link]="EFullRoutes.LOGIN">
          Уже есть аккаунт?
        </app-router-link>
        <app-form-button
          [formToWatch]="registrationFormGroup"
          (click)="onRegistrationClick()"
        >
          Зарегистрироваться
        </app-form-button>
      </div>
    </app-form-container>
  </div>
</section>
