:host {
  --title-height: 4rem;
  --image-height: 100px;
  width: 100%;

  cursor: pointer;

  .course-card {
    height: calc(var(--title-height) + var(--image-height));
    border-radius: 10px 10px 0 0;
    background-size: cover;
    position: relative;

    &__image {
      height: var(--image-height);
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    &__title {
      height: var(--title-height);
      background: var(--light-gray-bg);
      border-radius: 0 0 10px 10px;

      &__text {
        text-align: center;
        background: var(--very-light-gray-bg);
        border-radius: 0 0 10px 10px;
        padding: 0 5px;
        line-height: 2rem;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
      }
    }

    .title {
      text-align: center;
      height: var(--title-height);
      background: var(--very-light-gray-bg);
      border-radius: 0 0 10px 10px;
      padding: 0 5px;
      line-height: 2rem;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .delete {
      position: absolute;
      top: 10px;
      left: 10px;
      color: rgb(var(--red-color));
      filter: drop-shadow(0 0 0.5rem var(--black-text));
    }
  }
}
