<app-island [padding]="10">
  <h1 class="text-center max-w">Текущие попытки</h1>

  <div class="list__wrapper flex column gapless">
    <ng-container *ngFor="let attempt of attempts">
      <div class="list__item flex row space">
        <span class="list__item__field" *ngIf="withName">
          <div
            class="list__item__circle status"
            [ngClass]="attempt.status"
          ></div>
          {{ attempt.authorId }}
        </span>

        <span class="list__item__field">
          {{ attempt.sentTime | date: "dd.MM.yyyy, mm:HH" }}
        </span>

        <span class="list__item__field" [ngClass]="attempt.status">
          {{ attempt.status | attemptStatusName }}
        </span>
      </div>
    </ng-container>
  </div>
</app-island>
